body{
    margin: 0%;
    padding: 0%;
    overflow: scroll;
}
                              /*HEADER*/


.header1{
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: cyan;
}
.header1 nav{
    display: flex;
}
.header1 nav .left{
    float: left;
    height: 60px;
}
.header1 nav .left .logo{
    width: 25%;
    margin: 5px;
}
.header1 .cen{
    width: 65%;
}
.header1 .cen .mar_tag{
    width: 100%;
}
.header1 .right{
    float: right;
    width: 30%;
    height: 60px;
}
.header1 .right ol{
    list-style: none;
    display: flex;
    padding: 5px;
    
}
.header1 .right ol li,a{
    margin: 5px;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


                                                              /*BODY1*/

.body1{
    display: flex;
}
.body1 .left_body{
    width: 30%;
    height: 650px;
    background: linear-gradient(to right,rgb(100, 111, 204), #9c79af, #d68086);
}
.body1 .left_body .img1{
    width: 70%;
    margin-left: 60px;
    margin-top: 40px;
}
.body1 .left_body .img1 img{
    width: 100%;
    height: 300px;
    border-radius: 200px;
}
.body1 .left_body .left_body_cont{
    text-align: center;
}
.body1 .left_body .left_body_cont button{
    width: 100px;
    min-height: 40px;
    margin: 10px;
    margin-left: 35%;
    display: block;
}
.body1 .left_body .left_body_cont button:hover{
    background-color: blue;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 2px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.body1 .right_body{
    width: 70%;
    height: 650px;
}
.body1 .right_body h1{
    margin-top: 300px;
    margin-left: 300px;
    color: white;
}
.body1 .right_body h2{
    margin-left: 350px;
    color: cyan;
}


                                                                /*BODY2*/

.body2{
    padding: 20px;
    background-color: rgb(62, 53, 53);
    height: max-content;
    overflow: hidden;
}
.body2 .about1{
    margin-top: 50px;
    color: green;
    font-size: 50px;
}
.body2 .about1 button{
    width: 100px;
    min-height: 40px;
    float: right;
}
.body2 .about1 button:hover{
    background-color: blue;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 2px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body2 .about2{
    display: flex;
}
.body2 .about2 .about21{
    padding: 20px;
    width: 60%;
    height: max-content;
    font-size: 20px;
    color: white;
}
.body2 .about2 .about22{
    padding: 20px;
    width: 40%;
}
.body2 .about2 .about22 .about_img{
    margin-left: 150px;
}
.body2 .about2 .about22 .about_img img{
    width: 300px;
    height: 300px;
}


                                     /*BODY3*/

.body3{
    padding: 20px;
    background: rgba(0,0,0,0.6);
    height: max-content;
    overflow: hidden;
}
.body3 .resume1{
    margin-top: 50px;
    color: cyan;
    font-size: 30px;
    text-align: center;
}
.body3 .resume1 button{
    width: 100px;
    min-height: 40px;
    float: right;
}
.body3 .resume1 button:hover{
    background-color: blue;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 2px red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body3 .resume2 {
    padding: 10px;
    display: flex;
}
.body3 .resume2 .resume21{
    width: 50%;
    border: 1px solid white;
}
.body3 .resume2 .res_edu1{
    padding: 20px;
    height: max-content;
    border: 1px solid white;
}
.body3 .resume2 .res_edu1 h2{
    color: aqua;
    margin: 0%;
}
.body3 .resume2 .res_edu1 .res_edu11{
    color: white;
    line-height: 0%;
}
.body3 .resume2 .res_edu1 .res_edu11 i{
    float: right;
}
.body3 .resume2 .res_edu1 .res_edu12{
    color: white;
}


.body3 .resume2 .resume22{
    width: 50%;
     border: 1px solid white;
}

